@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>        
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banners.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h1>It's time to celebrate.</h1>
                <h3>Get an estimate with us and receive the best offers!</h3>
                <p>
                    <a class="btn btn-default" href="Home/Form.cshtml">
                        Request the estimate.
                    </a>
                </p>
            </div>
        </div>      
    </div>
</div>